Yolo/runs/
Yolo/test/
Yolo/Data/
Yolo/yolov8*.pt
Yolo/*.zip
Yolo/*.pt


Eval/healthy/*.png
Eval/images/*.png
Eval/Intersection_Labels/*.txt
Eval/labels_O2/
Eval/labels_O1/
Eval/Union_Labels/*.txt
Eval/models/*.pt
Eval/out/*
