Yolo/runs/
Yolo/test/
Yolo/Data/
Yolo/yolov8*.pt
Yolo/*.zip
Yolo/*.pt
Yolo/*.png


Eval/models/*.pt
Eval/out/*
Eval/CSV_Preds/

Data_Prepration/Generated_Masks
Data_Prepration/Intersection_Labels
Data_Prepration/Observers
Data_Prepration/Resized_Tiles
Data_Prepration/Tiles
Data_Prepration/labels
Data_Prepration/Union_Labels
Data_Prepration/YOLO_Labels
Data_Prepration/Yolo_Dataset
Data_Prepration/*.zip

Application/coords
Application/*.json
Application/test_upload_download.ipynb

Test/

Tile-Generation/generate_tiles.py.bak
Tile-Generation/README.md.bak
