Yolo/runs/
Yolo/test/
Yolo/Data/
Yolo/yolov8*.pt
Yolo/*.zip
Yolo/*.pt
Yolo/*.png


Eval/healthy/*.png
Eval/images/*.png
Eval/Intersection_Labels/
Eval/labels_O2/
Eval/labels_O1/
Eval/Union_Labels/
Eval/models/*.pt
Eval/out/*

Application/coords
Application/*.json
Application/test_upload_download.ipynb
